.footer {
    text-align: right;
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: black;
    color: #D2E8CC;
    height: calc(26px + 2.5vmin);
    padding-top: 0px;
    width: 100%;
    filter: grayscale(.75);
    font-size: calc(10px +1.5vmin);
  }

  @media only screen and (max-width: 520px) {
    .footer {
        padding-top: 5px;
        font-size: calc(12px + 1vmin);
    }
    .break {
      display: none;
    }
  }